<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>title</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body{
      background-image: url('/static/background.jpg');
    }
  </style>
</head>

<body class="h-screen text-black">
  <ul class="flex flex-row justify-between bg-gray-400">
    <div>
      <li class="mx-8 my-4 text-xl "><a href="/">Home</a></li>
    </div>
    <div class="flex flex-row">
      {% if session['user'] %}
      <li class="mx-4 my-4 text-xl "><a href="/logout">Logout</a></li>
      {% else %}
      <li class="mx-4 my-4 text-xl "><a href="/login">Login</a></li>
      <li class="mx-4 my-4 text-xl "><a href="/register">Register</a></li>
      {% endif %}
    </div>
  </ul>
  <div class="bg-gray-400 border-2 border-black w-1/2 mt-4 mx-auto p-2">
    <div class="text-center flex">
      <div class="mx-auto my-auto">
        <h1 class="text-4xl my-8">{% block title %}{% endblock %}</h1>
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</body>

</html>
